[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/NERDTree"]
	path = .vim/bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
