*~
*.pyc

.CFUserTextEncoding
.DS_Store
.TemporaryItems

/.vim/tmp
/.vim/backup

/.appcfg_*
/.autoenv_authorized
/.aws
/.bash_history
/.bundle
/.cache
/.cargo
/.cocoapods
/.config
/.cups
/.cursor
/.cursor-tutor*
/.dat
/.docker
/.dropbox
/.fly
/.gdb_history
/.gnupg
/.gsutil
/.heroku
/.keybase*
/.kube
/.ipython/db
/.ipython/history*
/.ipython/profile_*
/.iterm2
/.iterm2_shell_integration.zsh
/.lesshst
/.local
/.mysql_history
/.netrc
/.ngrok2
/.node-completion
/.node-gyp
/.node_repl_history
/nohup.out
/.npm
/.npmrc
/.nohup.out
/.ollama
/.password-store
/.pip
/.puppet
/.psql_history
/.pylint.d
/.pypirc
/.python_history
/.rediscli_history
/.s3cfg*
/.sqlite_history
/.ssh
/.sudo_as_admin_successful
/.swiftpm
/.Trash
/.tor
/.vagrant.d
/.viminfo
/.virtualenvs
/.vscode
/.yarn
/.yarnrc
/.wget-hsts
/.Xauthority
/.z
/.z.*
/.zoomus
/.zcompdump*
/.zshrc-private
/.zsh_history
/.zsh_sessions

/Applications
/backup
/BitTorrent Sync
/Creative Cloud Files
/Desktop
/Documents
/Downloads
/Dropbox
/go
/*Google Drive
/Library
/Movies
/Music
/projects
/OneDrive*
/Pictures
/Public
/Private
/p
/Sites
/src
/Software
/Spotify
/tmp
/Virtual Machines

