*~
*.pyc

.CFUserTextEncoding
.DS_Store
.TemporaryItems

/.vim/tmp
/.vim/backup

/.appcfg_*
/.autoenv_authorized
/.aws
/.bash_history
/.bundle
/.cache
/.config
/.cups
/.dat
/.docker
/.dropbox
/.gdb_history
/.gnupg
/.heroku
/.keybase*
/.ipython/db
/.ipython/history*
/.ipython/profile_*
/.lesshst
/.local
/.mysql_history
/.netrc
/.node-completion
/.node-gyp
/.node_repl_history
/nohup.out
/.npm
/.npmrc
/.nohup.out
/.password-store
/.pip/pip.log
/.puppet
/.psql_history
/.pylint.d
/.pypirc
/.python_history
/.rediscli_history
/.s3cfg*
/.sqlite_history
/.ssh
/.sudo_as_admin_successful
/.Trash
/.tor
/.vagrant.d
/.viminfo
/.virtualenvs
/.vscode/extensions
/.yarnrc
/.wget-hsts
/.Xauthority
/.z
/.z.*
/.zoomus
/.zcompdump*
/.zshrc-private
/.zsh_history

/Applications
/backup
/BitTorrent Sync
/Creative Cloud Files
/Desktop
/Documents
/Downloads
/Dropbox
/go
/Google Drive
/Library
/Movies
/Music
/projects
/Pictures
/Public
/Private
/p
/Sites
/src
/Software
/Spotify
/tmp
/Virtual Machines

