[user]
	name = Ben Firshman
	email = ben@firshman.co.uk

[alias]
    st = status
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true

[core]
	excludesfile = /home/ben/.gitignore_global
[push]
	default = current
