[user]
	name = Ben Firshman
	email = ben@firshman.com
	signingkey = E36D2F1E

[github]
    user = bfirsh

[alias]
    st = status
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
	ui = auto

[merge]
	conflictStyle = zdiff3

[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	gpgsign = false
	verbose = true
[hub]
	protocol = ssh
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = true
[rebase]
	autosquash = true
[interactive]
	diffFilter = delta --color-only
[delta]
    navigate = true

[include]
    path = ~/.gitconfig.local
