[user]
	name = Ben Firshman
    email = ben@firshman.co.uk

[alias]
    st = status

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[merge]
    tool = threesome

[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true

