*~
*.pyc

.CFUserTextEncoding
.DS_Store
.TemporaryItems

/.vim/tmp
/.vim/backup

/.adobe
/.appcfg_*
/.atom/.apm/
/.atom/.node-gyp
/.atom/blob-store/
/.atom/compile-cache/
/.atom/packages/
/.atom/storage/
/.autoenv_authorized
/.aws
/.bash_history
/.bitcoin*
/.bower
/.bundle
/.cache
/.docker
/.dotcloud
/.epio
/.gdb_history
/.gnupg
/.heroku
/.keybase*
/.ipython/db
/.ipython/history*
/.ipython/profile_*
/.mysql_history
/.node-completion
/nohup.out
/.npm
/.npmrc
/.nohup.out
/.password-store
/.pip/pip.log
/.plex
/.puppet
/.psql_history
/.pypirc
/.rediscli_history
/.s3cfg*
/.sqlite_history
/.ssh
/.sudo_as_admin_successful
/.tox
/.tutum
/.Trash
/.tor
/.vagrant.d
/.virtualenvs
/.Xauthority
/.z
/.z.*
/.zcompdump*
/.zshrc-private

/Applications
/BitTorrent Sync
/Desktop
/Documents
/Downloads
/Dropbox
/go
/Google Drive
/Library
/Movies
/Music
/projects
/Pictures
/Public
/Private
/p
/Sites
/src
/Software
/Spotify
/tmp
/Virtual Machines

