"*":
  "atom-beautify":
    general:
      _analyticsUserId: "6c655043-a1f7-43dc-a8ff-5104a23625b4"
      analytics: false
    js:
      indent_size: 2
    json:
      indent_size: 2
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  core:
    disabledPackages: [
      "metrics"
      "atom-flake8"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "\"Inconsolata\""
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "983fb2f3-2b13-81b9-4fa9-ce85eadb6f47"
  "go-plus":
    goPath: "~/go:~/go/src/github.com/docker/docker/vendor"
  gofmt:
    formatTool: "gofmt"
  linter:
    showErrorPanel: false
  "linter-python-pyflakes":
    pyflakesDirToExecutable: "/usr/local/bin/"
  metrics:
    userId: "8ee737154c7a6e5381c9208ecd9deb03b7a022bf"
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "vim-mode":
    useClipboardAsDefaultRegister: false
  "vim-surround":
    pairs: [
      "()"
      "[]"
      "{}"
      "\"\""
      "''"
      "``"
    ]
  welcome:
    showOnStartup: false
